.este-scrollbar {
  position: relative;
  overflow: hidden;
}
.este-scrollbar > .este-scrollbar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
html.e-ua-device-desktop .este-scrollbar > .este-scrollbar-content {
  overflow: hidden;
}
html.e-ua-platform-mac.e-ua-engine-webkit .este-scrollbar > .este-scrollbar-content::-webkit-scrollbar {
  visibility: hidden;
}
.este-scrollbar > .goog-slider-vertical,
.este-scrollbar > .goog-slider-horizontal {
  position: absolute;
  z-index: 1;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s, width 0.2s, height 0.2s;
  -moz-transition: opacity 0.2s, width 0.2s, height 0.2s;
  -o-transition: opacity 0.2s, width 0.2s, height 0.2s;
  -ms-transition: opacity 0.2s, width 0.2s, height 0.2s;
  transition: opacity 0.2s, width 0.2s, height 0.2s;
  -webkit-transition-delay: 0, 0.2s, 0.2s;
  -moz-transition-delay: 0, 0.2s, 0.2s;
  -o-transition-delay: 0, 0.2s, 0.2s;
  -ms-transition-delay: 0, 0.2s, 0.2s;
  transition-delay: 0, 0.2s, 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.este-scrollbar > .goog-slider-vertical.este-scrollbar-shown,
.este-scrollbar > .goog-slider-horizontal.este-scrollbar-shown {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0, width 0.2s, height 0.2s;
  -moz-transition: opacity 0, width 0.2s, height 0.2s;
  -o-transition: opacity 0, width 0.2s, height 0.2s;
  -ms-transition: opacity 0, width 0.2s, height 0.2s;
  transition: opacity 0, width 0.2s, height 0.2s;
}
.este-scrollbar > .goog-slider-vertical.este-scrollbar-shown-bg:before,
.este-scrollbar > .goog-slider-horizontal.este-scrollbar-shown-bg:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.este-scrollbar > .goog-slider-vertical.este-scrollbar-shown-bg.goog-slider-vertical,
.este-scrollbar > .goog-slider-horizontal.este-scrollbar-shown-bg.goog-slider-vertical {
  border-left: solid 1px rgba(0,0,0,0.1);
}
.este-scrollbar > .goog-slider-vertical.este-scrollbar-shown-bg.goog-slider-horizontal,
.este-scrollbar > .goog-slider-horizontal.este-scrollbar-shown-bg.goog-slider-horizontal {
  border-top: solid 1px rgba(0,0,0,0.1);
}
.este-scrollbar > .goog-slider-vertical:focus,
.este-scrollbar > .goog-slider-horizontal:focus {
  outline: none;
}
.este-scrollbar > .goog-slider-vertical > .goog-slider-thumb,
.este-scrollbar > .goog-slider-horizontal > .goog-slider-thumb {
  position: absolute;
  overflow: hidden;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.este-scrollbar > .goog-slider-vertical > .goog-slider-thumb:after,
.este-scrollbar > .goog-slider-horizontal > .goog-slider-thumb:after {
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  background-color: #000;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  content: "";
}
.este-scrollbar > .goog-slider-vertical {
  top: 0;
  right: 0;
  bottom: 0;
  width: 11px;
}
.este-scrollbar > .goog-slider-vertical.este-scrollbar-shown-bg {
  width: 15px;
}
.este-scrollbar > .goog-slider-vertical > .goog-slider-thumb {
  left: 0;
  width: 100%;
  min-height: 28px;
}
.este-scrollbar > .goog-slider-horizontal {
  left: 0;
  bottom: 0;
  right: 0;
  height: 11px;
}
.este-scrollbar > .goog-slider-horizontal.este-scrollbar-shown-bg {
  height: 15px;
}
.este-scrollbar > .goog-slider-horizontal > .goog-slider-thumb {
  top: 0;
  height: 100%;
  min-width: 28px;
}
.vertical,
.horizontal,
.both {
  position: relative;
  width: 350px;
  outline: solid 1px #ccc;
}
.vertical {
  height: 150px;
}
.horizontal {
  height: 70px;
}
.horizontal > .goog-slider-horizontal {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.both {
  height: 120px;
}
.horizontal .content,
.both .content {
  white-space: nowrap;
}
.content p {
  margin: 2px;
  padding: 3px 4px;
  background-color: #eee;
  font-size: 12px;
}
.horizontal .content p,
.both .content p {
  display: inline-block;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
/* Custom styles for both vertical and horizontal scrollbars. */
/* Shrink scrollbars to prevent overlapping. */
.both > .goog-slider-vertical {
  bottom: 16px;
}
.both > .goog-slider-horizontal {
  right: 16px;
}
/* Hide scrollbars backgrounds. */
.both > .goog-slider-vertical,
.both > .goog-slider-horizontal {
  background-color: transparent;
}
button {
  margin: 0.5em;
  padding: 0.4em 0.3em;
}
